* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: black;
  color: white;
}

header {
  grid-area: header;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #212121;
  padding: 2%;
  color: white;
  border-radius: 10px;
}

nav {
  grid-area: nav;
  margin-top: 20px;
  background-color: black;
}

nav li {
  list-style: none;
  width: 60%;
  margin: auto;
  color: #212121;
  text-align: center;
  border-radius: 100px;
  line-height: 60px;
}

nav li:hover {
  background-color: #212121;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  grid-area: section;
  background-color: teal;
  padding: 2%;
}

.box {
  display: grid;
  width: 65%;
  height: 100%;
  background-color: #212121;
  border-radius: 20px;
  margin: auto;
}

.printValue {
  padding: 10px;
  background-color: black;
  width: 90%;
  height: 70%;
  font-size: 2em;
  color: white;
  border-radius: 20px;
  text-align: right;
  border: 1px solid #eeeeee;
  margin-top: 6%;
  margin-left: 5%;
}

.keys {
  margin-top: 7%;
  margin-left: 10%;
}

.button {
  font-size: 2.5em;
  border: none;
  width: 17%;
  height: 40%;
  margin-bottom: 0.5em;
  margin-left: 4%;
  border-radius: 10px;
  cursor: pointer;
}

.button.Sign {
  color: black;
  background-color: lightsteelblue;
}

.button.Number {
  color: white;
  background-color: #313131;
}

.button.Equal {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 2em;
  color: white;
  border-top: 1px eeeeee solid;
  background-color: lightslategray;
  width: 80%;
  height: 70%;
}

aside {
  grid-area: aside;
  background-color: black;
  color: white;
}

footer {
  grid-area: footer;
  padding: 20px;
  text-align: center;
  background: #212121;
  color: white;
  border-radius: 10px;
}

/* Show section before nav on mobile */
.grid {
  display: grid;
  grid-template-areas: "header"
    "nav"
    "section"
    "aside"
    "footer";
}

.IMGContainer img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  grid-area: img;
}

.IMGContainer p {
  margin-top: 5%;
  margin-right: 6%;
  grid-area: pp;
}

.IMGContainer {
  display: grid;
  grid-template-areas:
    "img"
    "pp";
}

aside>div {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

.flex-container {
  display: flex;
  flex-direction: column;
}


/* Apply the following styles to screens > 720px */

@media only screen and (min-width: 720px) {

  .grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header"
      "nav section section"
      "aside aside aside"
      "footer footer footer";
  }

  .IMGContainer {
    display: grid;
    grid-template-areas: "img pp"
      "img pp";
  }
}

/* Apply the following styles to screens > 1024px */
@media only screen and (min-width: 1024px) {

  .grid {
    display: grid;
    grid-template-areas: "header header header"
      "nav section aside"
      "nav section aside"
      "footer footer footer";
  }

  .IMGContainer {
    display: grid;
    grid-template-areas: "img img"
      "img pp";
  }
}